<div style="display: flex; flex-flow: row; margin-bottom: 5px">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <form class="example-form">
          <mat-form-field>
            <input matInput [(ngModel)]="tabPack.name" (input)="onChangeEditName()" name="name">
          </mat-form-field>
        </form>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-raised-button color="primary" (click)="onClickSaveName()" *ngIf="isNameEdited">
      Save
    </button>
    <div *ngFor="let tab of tabPack.tabs">
      <button mat-button style="max-width: 200px; overflow-x: hidden !important; margin-left: -10px"
              (click)="onClickOpenTab(tab)">
        <img *ngIf="tab.favIconUrl" [src]="tab.favIconUrl" alt="favIcon" width="20" height="20">
        {{tab.title}}
      </button>
    </div>
  </mat-expansion-panel>
  <button mat-raised-button style="margin-left: 5px" (click)="onClickOpenPack()" matTooltip="Open all tabs">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <button mat-raised-button style="margin-left: 5px" (click)="onClickRemovePack()" matTooltip="Delete these tabs"
          color="warn">
    <mat-icon>close</mat-icon>
  </button>
</div>
